<app-sign-layout title="Login" subtitle="Entre com suas credenciais" [icon]="userIcon">
  <form class="app-sign-form-container">
    <label for="email" class="app-form-label">Email</label>
    <input id="email" type="email" placeholder="Entre com seu email" class="app-form-input" />

    <label for="password" class="app-form-label">Senha</label>
    <input id="password" type="password" placeholder="Entre com sua senha" class="app-form-input" />

    <button type="submit" class="app-button-primary">Entrar</button>
  </form>

  <div class="login-footer">
    <span class="app-secundary-font">Esqueceu sua senha ? <a href="/recover-password">Recuperar senha</a></span>
    <span class="app-secundary-font">Ainda não possui uma conta ? <a href="/register">Cadastre-se</a></span>
  </div>

  <app-text-with-lines text="ou entre com: " />
  <app-social-sign />
  
</app-sign-layout>